@font-face{
    font-family: Intro-Trial;
    src: url(../Fonts/Intro-Trial-Md.otf);
    font-weight: 200;
}

@font-face{
    font-family: Intro-Trial;
    src: url(../Fonts/Intro-Trial-Bd.otf);
    font-weight: bold;
}

@font-face{
    font-family: Intro-Trial;
    src: url(../Fonts/Intro-Trial-Bk.otf);
    font-weight: 900;
}

html::-webkit-scrollbar{
    width: .7rem;
}

html::-webkit-scrollbar-thumb{
    background-color: #b1afaf;
    border-radius: 10px;
}
html::-webkit-scrollbar-track{
    background-color: none;
}

*{
    font-family: 'Sen', sans-serif;
    color: #4B4B4B;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.pageTitle{
    position:absolute;
    right: 120px;
    top: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    transition: color .4s;
    color: #4B4B4B;
}

.pageTitle:hover{
    cursor: pointer;
    color: #F87474;
}

.backButton{
    position: absolute;
    left: 120px;
    top: 40px;
    transition: .3s;
    font-size: 1.2rem;
}

.backButton:hover{
    color: #F87474;
}

.projectContainer{
    /* background-color: #F87474; */
    position: relative;
    display: flex;
    /* max-width: 1400px; */
    margin: 0 auto;
    top: 100px;
    flex-direction: column;
    gap: 50px;
    
    
}

.projectHeader{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 200px;
    /* margin-bottom: 70px; */

}

.titleInfoCont{
    display: flex;
    position: relative;
    gap: 120px;
    /* margin-right: auto; */
    margin-top: 30px;
    /* background-color: #23B476; */
}

.titleImg{
    width: 100%;
}

.col{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.row h3{
    margin: 0;
    margin-bottom: 3px;
}

.colItems{
    /* margin-left: 10px; */
    display: flex;
    flex-direction:column;
    gap: 5px;
}

.colItems p{
    margin: 0;
}

.linkButton{
    background-color: #3B71CA;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e7e5e5;
    /* margin-left: 20px; */
    margin-top: 10px;
    border-radius: 3px;
}

.linkButton:hover{
    cursor: pointer;
    background-color: #3461aa;
}


.titleCont{
    position: relative;
    right: 0;
    /* background-color: #4B4B4B;*/
    width: 600px;
}

.titleCont p{
    margin: 0;
    line-height: 25px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.projectDisplay{
    background-color: #3B71CA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    margin-bottom: 100px;
    /* width: 100vw; */
    left: 0;
}

.mockImg{
    width: max(60%, 400px);
}

.projectContent{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.problemContainer{
    /* margin: 0 30px; */
    margin: 0;
    display: flex;
    gap: 0;
    margin-bottom: 70px;
    justify-content: center;
    /* align-items: center; */
    /* max-width: 1600px; */
}


.problemContainer p{
    line-height: 30px;
    width: max(70%, 350px);
    max-width: 1200px;
}

.problemContainer .col{
    /* width: 600px; */
    align-items: center;
    margin: 0 30px;
}

.excelImg{
    border: #4B4B4B 2px solid;
    border-radius: 3px;
    /* width: 100%; */
}

.subHeading{
    border-bottom: #3B71CA 4px solid;
    margin: 0 auto;
    width: max(90%, 400px);
    border-radius: 3px;
    max-width: 1600px;
}

.subHeading p{
    color: #3B71CA;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.storyBoardInfo{
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
}

.storyBoardInfo p{
    margin: 0 auto;
    width: 90%;
}

.protoContainer{
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    /* max-width: 1600px; */
}

.protoContainer img{
    width: 90%;
    margin: 0 auto;
}

.designContainer{
    margin: 0 auto;
    /* max-width: 1600px; */
}

.designInfo{
    margin: 10px auto 0;
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content:space-around;
    width: 90%;
    /* margin-top: 10px; */
}

.designInfo p{
    /* width: 580px; */
    width: max(30%, 400px);
    font-size: 30px;
    max-width: 1000px;
}
.logoContainer{
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    max-width: 1600px;
}

.logoContainer img{
    background-color: #3B71CA;
    /* width: 670px; */
    padding: 20px 20px 15px 20px;
    margin-bottom: 25px;
}

.logoContainer p{
    font-size: 25px;
    margin: 0;
    line-height: 30px;
}

.logoContainer .col{
    width: 40%;
}

.layoutCont{
    display: flex;
    flex-direction: column;
}

.layoutCont img{
    width: max(70%, 400px);
    margin: 0 auto;
    max-width: 1500px;
}

.colorCont{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
    margin-top: 10px;
    max-width: 1600px;
}

.colorCont img{
    width: max(40%, 390px);
}

.colorCont p{
    margin: 0 30px;
}

.b{
    color: #3B71CA;
    font-weight: bold;
}

.mobileCont{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 150px;

}

.mobileCont img{
    width: max(20%, 150px);
}




@media screen and (max-width: 1300px) {

    .pageTitle{
        right: 10px;
        top: 20px;
        font-size: 1.2rem;
    }

    .backButton{
        left: 10px;
        top: 20px;
    }

    .projectHeader{
        flex-direction: column;
        gap: 10px;
        margin-inline: auto;
    }

    .titleCont{
        width: fit-content;
    }

    .titleCont p{
        margin: 0 10px;
        
    }
    .titleInfoCont{
        justify-content: center;
        gap: 80px;
    }

    .col{
        margin: 0 15px;
    }

    .problemContainer{
        flex-direction: column;
        margin: 0;
    }


    .designContainer{
        width: 95%;
        /* margin-inline: 0; */
    }

    .logoContainer{
        flex-direction: column;
        gap: 30px;
    }

    .logoContainer .col{
        width: 90%;
    }

    .designInfo{
        flex-direction: column;
        margin: 0 auto;
        gap: 20px;
        margin-bottom: 50px;
        
    }

    .designInfo p{
        align-items: center;
        margin: 0 auto;
        /* text-align: center; */
    }

    .mobileCont{
        gap: 50px;
    }

    .projectContent{
        /* display: none; */
        margin: 0;
    }

   


}
